{% extends 'base.html' %}

{% block content-body %}
<br>
<h3 class="text-center">Please insert a new password.</h3>
<form class="justify-content-center" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control {% if form.errors %}is-invalid{% endif %}" placeholder="Password" type="password" name="password1" required>
        {% for error in form.password1.errors %}
            <div class="invalid-feedback">{{ error|escape }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        <input class="form-control {% if form.errors %}is-invalid{% endif %}" placeholder="Password confirmation" type="password" name="password2" required>
        {% for error in form.password2.errors %}
            <div class="invalid-feedback">{{ error|escape }}</div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Reset</button>
</form>
{% endblock %}
