{% extends 'base.html' %}

{% block content-body %}
<br>
<h3 class="text-center">Password reset</h2>
<p class="text-center">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
<form class="form-inline justify-content-center" method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control {% if form.errors %}is-invalid{% endif %}" placeholder="e.g. user@gmail.com" type="email" name="email" maxlength="254" id="id_email" required>

    </div>
    <button type="submit" class="btn btn-primary">Reset</button>

</form>
{% if form.errors %}
        <div class="invalid-feedback" style="margin: auto; width: 50%;">{{ form.errors.email }}</div>
        {% endif %}
{% endblock %}
