{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#20B2AA">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>Bloggy - a place to share your thoughts!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/lightfair.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript">
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function readNotification(id){
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                url: "{% url 'notifications-list' %}" + id + "/read/",
                type: 'POST',
                success: function (data) {
                    $(".notification#"+id).removeClass("notification-unread");
                    $("#"+id+".read-notification").hide();
                    $("#"+id+".read-full-notification").hide();
                    $("#"+id+".full-notification").removeClass("notification-unread");
                    updateNotificationPanel();
                },
            });
        }
        $(document).on('click', '.read-full-notification', function(e){
            readNotification(e.target.id);
        });
        $(document).on('click', '.read-notification', function (e) {
            e.stopPropagation();
            readNotification(e.target.id);
        })
        $(document).on('click', '.read-all-notifications', function(e){
            e.preventDefault();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                url: "{% url 'notifications-read-all' %}",
                type: 'POST',
                success: function (data) {
                    $(".read-full-notification").each(function (index){
                        $(this).hide()
                    })
                    $(".read-notification").each(function (index){
                        $(this).hide()
                    })
                    $(".notification").each(function (index) {
                        $(this).removeClass("notification-unread");
                    })
                    $(".full-notification").each(function(index) {
                        $(this).removeClass("notification-unread");
                    })
                    $(".fas.fa-bell").attr("class", "far fa-bell");
                    $("#notifications-unread-count").hide();
                },
                error: function () {
                    console.log("error");
                }
            });
        })
        {% if browsed_tag.name %}
        $(document).ready(function (){
            $(".observe-button").on('click', function (e) {
                e.preventDefault();
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                $.ajax({
                    url: "{% url 'tags-observe' browsed_tag.name %}",
                    type: 'POST',
                    success: function (data) {
                        if(data.user_observes){
                            $(".observe-button")[0].innerHTML = "Don't observe";
                            $(".blacklist-button").hide();
                            }
                        else{
                            $(".observe-button")[0].innerHTML = "Observe";
                            $(".blacklist-button").show();
                        }
                        $(".tag-observers-count")[0].innerHTML = data.observers;
                    },
                    error: function () {
                        console.log("error");
                    }
                });

            });
        });
        $(document).ready(function (){
            $(".blacklist-button").on('click', function (e) {
                e.preventDefault();
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                $.ajax({
                    url: "{% url 'tags-blacklist' browsed_tag.name %}",
                    type: 'POST',
                    success: function (data) {
                        if(data.user_blacklisted){
                            $(".blacklist-button")[0].innerHTML = "Don't blacklist";
                            $(".observe-button").hide();
                            }
                        else{
                            $(".blacklist-button")[0].innerHTML = "Blacklist";
                            $(".observe-button").show();
                        }
                        $(".tag-observers-count")[0].innerHTML = data.observers;
                    },
                    error: function () {
                        console.log("error");
                    }
                });

            });
        });
        {% endif %}
        function addNotification(notification){
            $.ajax({
                url: "{% url 'entry-list' %}" + notification.object + "/",
                type: "GET",
                success: function (data) {
                    var entry_content = data.content.slice(0, 25);
                    var NotificationDiv = document.createElement("div");
                    NotificationDiv.className = "notification notification-unread";
                    NotificationDiv.id = notification.id;
                    if(notification.type == "user_mentioned"){
                        NotificationDiv.innerHTML = `<li><a href="/users/${notification.sender}/">${notification.sender}</a> has mentioned you in his entry <a href="/entries/${notification.object}/">${entry_content}...</a></li>`;
                    } else if (notification.type == "user_replied") {
                        NotificationDiv.innerHTML = `<li><a href="/users/${notification.sender}/">${notification.sender}</a> has replied to you <a href="/entries/${notification.object}/">${entry_content}...</a></li>`;
                    } else if (notification.type == "tag_used") {
                        NotificationDiv.innerHTML = `<li>${notification.content}</li>`;
                    }
                    NotificationDiv.innerHTML += moment(notification.created_date).fromNow();
                    NotificationDiv.innerHTML += `<button class="read-notification fas fa-check" id="${notification.id}"></button><hr style="margin-bottom: 0px;">`
                    $("#notification-box-list").prepend(NotificationDiv);
                    if($(".notification")[5] != null){
                        $(".notification")[5].remove();
                    }
                }
            });
        }
        var unread_pms = 0;
        function updateInbox() {
            $.ajax({
                url: "{% url 'privatemessages-unread' %}?limit=0",
                type: "GET",
                success: function (data) {
                    if (data.length == 0) {
                        $(".fas.fa-envelope").attr("class", "far fa-envelope");
                        $("#private-messages-unread-count").hide();
                    } else {
                        $(".far.fa-envelope").attr("class", "fas fa-envelope");
                        $("#private-messages-unread-count")[0].innerHTML = data.length;
                        $("#private-messages-unread-count").show();
                    }
                    unread_pms = data.length;
                }
            });
        }
        var unread_notifications = 0;
        function updateNotificationPanel(){
            var latestID = -1;
            if($(".notification")[0] != null){
                latestID = parseInt($(".notification")[0].id)
            }
            $.ajax({
                url: "{% url 'notifications-unread' %}?limit=5",
                type: "GET",
                success: function (data) {
                    if(data.count != null){
                        for(var i=data.results.length-1; i >= 0; i--){
                            if(data.results[i].id <= latestID){
                                continue;
                            } else {
                                addNotification(data.results[i]);
                            }
                        }

                    }
                    if (data.length == 0 || data.count == null) {
                        $(".fas.fa-bell").attr("class", "far fa-bell");
                        $("#notifications-unread-count").hide();
                    } else {
                        $(".far.fa-bell").attr("class", "fas fa-bell");
                        $("#notifications-unread-count")[0].innerHTML = data.count;
                        $("#notifications-unread-count").show();
                    }
                    if(data.count == null){
                        unread_notifications = 0;
                    } else {
                        unread_notifications = data.count;
                        if($("#no-notifications-text").length){
                            $("#no-notifications-text").hide()
                        }
                    }

                }
            });
        }
        {% if user.is_authenticated %}
        function updateNotifications(){
            updateInbox();
            updateNotificationPanel();
            //console.log(unread_pms, unread_notifications);
        }
        setInterval(updateNotifications, 10000)
        {% endif %}
    </script>
    {% endblock %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar fixed-top navbar-expand navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}" style="color: white">Bloggy</a>
            {% if not user.is_authenticated %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto"></div>
                <form class="form-inline my-2 my-lg-0" action="{% url 'account_login' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="login" type="text" class="form-control " placeholder="Username" aria-label="Username"
                            aria-describedby="basic-addon1" required>
                        <input name="password" type="password" class="form-control mr-sm-2 4" placeholder="Password"
                            aria-label="Password" aria-describedby="basic-addon1" required>
                    </div>
                    <button id="login" class="btn btn-light my-2 my-sm-0">Login</button>
                </form>
            </div>
            {% else %}
            <div class="navbar-nav mr-auto">
                <a href="{% url 'ranking' %}" class="nav-item nav-link active">Ranking</a>
                <a href="{% url 'api-root' %}" class="nav-item nav-link active mr-auto">API</a>
            </div>
            <a href="{% url 'inbox' %}" style="margin-right: 15px; color:white;">
                {% if user.private_messages_unread_count > 0 %}
                <i class="fas fa-envelope" id="private-messages-envelope">
                    <span class="badge badge-pill badge-primary" id="private-messages-unread-count">{{ user.private_messages_unread_count }}</span>
                {% else %}
                <i class="far fa-envelope" id="private-messages-envelope">
                    <span class="badge badge-pill badge-primary" id="private-messages-unread-count" style="display: none;"></span>
                {% endif %}
                </i>
            </a>
            <div class="dropdown show" style="margin-right: 15px;">
                <a style="color: white;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {% if user.notifications_unread_count > 0 %}
                    <i class="fas fa-bell" id="notifications-unread-bell">
                        <span class="badge badge-pill badge-primary" id="notifications-unread-count">{{ user.notifications_unread_count }}</span></i>
                    {% else %}
                    <i class="far fa-bell" id="notifications-unread-bell">
                        <span class="badge badge-pill badge-primary" id="notifications-unread-count" style="display: none;">{{ user.notifications_unread_count }}</span></i>
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-right notification-panel" style="padding: 0px;">
                    <li>
                        <div class="notificationPanel" style="position:relative; width: 100%; min-width: 200px;">
                            <div class="notificationContent" style="height: 100%;">
                                <ul class="notification-box-list" id="notification-box-list" style="margin:0; padding:0;list-style-type: none;">
                                    {% if not user.notifications %}
                                    <p class="text-center" id="no-notifications-text">You have no notifications</p>
                                    {% endif %}
                                    {% for notification in user.notifications %}
                                    <div class="notification {% if not notification.read %}notification-unread{% endif %}" id="{{notification.id}}">
                                        <li>
                                            {% if notification.type == 'user_mentioned' %}
                                            <a href="{% url 'user-detail-view' notification.sender.display_name %}">{{notification.sender.display_name }}</a> has mentioned you in his entry <a
                                                href="{% url 'entry-detail-view' notification.object.pk %}">'{{notification.object.content|truncatechars:25 }}'</a>
                                            {% endif %}
                                            {% if notification.type == 'user_replied' %}
                                            <a href="{% url 'user-detail-view' notification.sender.display_name %}">{{notification.sender.display_name }}</a> has replied to you <a href="{% url 'entry-detail-view' notification.object.pk %}">'{{notification.object.content|truncatechars:25 }}'</a>
                                            {% endif %}
                                            {% if notification.type == 'tag_used' %}
                                            {{ notification.content|safe }}
                                            {% endif %}
                                            {{notification.created_date|naturaltime}}
                                            {% if not notification.read %}
                                            <button class="read-notification fas fa-check" id="{{notification.id}}"></button>
                                            {% endif %}
                                        </li>
                                        <hr style="margin-bottom: 0px;">
                                    </div>
                                    {% endfor %}
                                    <li style="padding-bottom: 5px; text-align: center;">
                                        <a href="{% url 'notifications-all' %}" style="color: black;">All Notifications</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dropdown show">
                <a style="color: white;" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.display_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'user-detail-view' user.display_name %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                </div>
            </div>
            {% endif %}
        </div>
    </nav>
    {% endblock %}
    <div class="container content">
        {% block content-head %}

        {% endblock %}
        {% block content-body %}

        {% endblock %}
        {% block content-tail %}

        {% endblock %}
    </div>
    {% block footer %}
    <div class="footer">
        <div class="container">
            <span class="text-muted">© 2018 <a href="{% url 'home' %}">bloggy</a> by <a href="https://github.com/MakuZo">MakuZo</a></span>
        </div>
    </div>
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    {% block extra-scripts %}

    {% endblock %}
</body>
</html>
