{% extends 'app/base.html' %}

{% block content %}
<br>
<h3 class="text-center">Please insert a new password.</h3>
<form class="justify-content-center" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control {% if form.errors %}is-invalid{% endif %}" placeholder="Password" type="password" name="new_password1" required>
        {% for error in form.new_password1.errors %}
            <div class="invalid-feedback">{{ error|escape }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        <input class="form-control {% if form.errors %}is-invalid{% endif %}" placeholder="Password confirmation" type="password" name="new_password2" required>
        {% for error in form.new_password2.errors %}
            <div class="invalid-feedback">{{ error|escape }}</div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Reset</button> 
</form>
{% endblock %}