{% extends 'app/base.html' %}
{% block content %}
<br>
<h3 class="text-center">Please insert your email to reset your password.</h2>
<form class="form-inline justify-content-center" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control {% if form.errors %}is-invalid{% endif %}" placeholder="e.g. user@gmail.com" type="email" name="email" maxlength="254" id="id_email" required>
    </div>  
    <button type="submit" class="btn btn-primary">Reset</button> 
</form>
{{ form.errors }}
{% endblock %}