<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bloggy - a place to share your thoughts!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/lightfair.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <script type="text/javascript">
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        $(document).on('click', ".answerButton", function (e) {
            e.preventDefault();
            $(".editForm").hide();
            $(".content").show();
            if ($("#form" + $(this).attr('value')).is(':visible')) {
                $(".commentForm").hide();
            } else {
                $(".commentForm").hide();
                $("#form" + $(this).attr('value')).toggle();
                $("#form" + $(this).attr('value'))[0][0].focus();
            }
        });
        $(document).on('click', ".editButton", function (e) {
            e.preventDefault();
            $(".commentForm").hide();
            $(".content").show();
            if ($("#editForm" + $(this).attr('value')).is(':visible')) {
                $(".editForm").hide();
                $("#content" + $(this).attr('value')).show();
            } else {
                $(".editForm").hide();
                $("#editForm" + $(this).attr('value')).toggle();
                $("#editForm" + $(this).attr('value'))[0][0].focus();
                $("#content" + $(this).attr('value')).hide();
            }
        });
        $(document).on('click', ".deleteButton", function (e) {
            e.preventDefault();
            if (window.confirm("Are you sure?")) {
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                $.ajax({
                    url: "{% url 'entry-list' %}" + $(this).attr('value') + "/",
                    type: 'DELETE',
                    success: function () { // this happens after we get results
                        location.reload();
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            }
        });
        $(document).on('submit', '.editForm', function (e) {
            e.preventDefault();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                url: "{% url 'entry-list' %}" + $(this).attr('value') + "/",
                type: 'PATCH',
                data: {
                    content: $(this)[0][0].value,
                },
                success: function (data) { // this happens after we get results
                    $("#content"+data.id)[0].innerHTML = data.content_formatted;
                    $("#content"+data.id).show();
                    $("#content"+data.id).focus();
                    $("#editForm"+data.id).hide();
                    $('pre code').each(function(i, block) {
                        hljs.highlightBlock(block);
                    });
                },
                error: function () {
                    console.log("error");
                }
            });
        });
        $(document).on('submit', '.commentForm', function (e) {
            e.preventDefault();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                url: "{% url 'entry-list' %}",
                type: 'POST',
                data: {
                    parent: $(this).attr('value'),
                    content: $(this)[0][0].value,
                },
                success: function () { // this happens after we get results
                    location.reload();
                },
                error: function () {
                    console.log("error");
                }
            });
        });
        $(document).ready(function () {
            $(".discussionForm").submit(function (e) {
                e.preventDefault();
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                $.ajax({
                    url: "{% url 'entry-list' %}",
                    type: 'POST',
                    data: {
                        content: $(this)[0][0].value,
                    },
                    success: function (data) {
                        console.log(data)
                        window.location.replace("/entry/" + data.id);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
        });
        function vote(pk, type) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.post("{% url 'vote-list' %}",
                {
                    pk: pk,
                    votetype: type
                },
                function (data, status) {
                    if (status === "success")
                        document.getElementById("upvote" + data.id).classList.remove('user-upvoted');
                        document.getElementById("downvote" + data.id).classList.remove('user-downvoted');
                        document.getElementById("votes" + data.id).innerHTML = data.upvotes - data.downvotes;
                    if (data.user_upvoted) {
                        document.getElementById("upvote" + data.id).classList.add('user-upvoted');
                    } else if (data.user_downvoted) {
                        document.getElementById("downvote" + data.id).classList.add('user-downvoted');
                    }
            });
        }
    </script>
    {% endblock %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar fixed-top navbar-expand{% if not user.is_authenticated %}-lg{% endif %} navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}" style="color: white">Bloggy</a>
            {% if not user.is_authenticated %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto"></div>
                <form class="form-inline my-2 my-lg-0" action="{% url 'account_login' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="login" type="text" class="form-control " placeholder="Username" aria-label="Username"
                            aria-describedby="basic-addon1" required>
                        <input name="password" type="password" class="form-control mr-sm-2 4" placeholder="Password"
                            aria-label="Password" aria-describedby="basic-addon1" required>
                    </div>
                    <button id="login" class="btn btn-light my-2 my-sm-0">Login</button>
                </form>
            </div>
            {% else %}
            <div class="navbar-nav mr-auto">
                <a href="{% url 'ranking' %}" class="nav-item nav-link active">Ranking</a>
                <a href="{% url 'api-root' %}" class="nav-item nav-link active mr-auto">API</a>
            </div>
            <div class="dropdown show">
                <a style="color: white;" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'user-detail-view' user.pk %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                </div>
            </div>
            {% endif %}
        </div>
    </nav>
    {% endblock %}
    <div class="container content">
        {% block content %}
        <hr>
        <p>
            <a href="{% url 'home' %}">New</a>
            <a href="{% url 'hot' %}">Hot</a>
            <a href="{% url 'top' %}">Top</a>
        </p>
        <hr>
        {% if user.is_authenticated %}
        <form class="discussionForm">
            <div class="form-group">
                <textarea class="form-control" rows="3" maxlength="4000" required></textarea>
                <button type="submit" class="btn btn-primary btn-sm">Add discussion</button>
            </div>
        </form>
        {% else %}
        <h4><a href="{% url 'account_login' %}">Log-in</a> or <a href="{% url 'account_signup' %}">Register</a> to add a discussion!</h4>
        {% endif %}
        <hr>
        {% load mptt_tags %}
        <ul class="entry" style="padding-left: 10px;">
            {% if not entries %}
            <h1>Oops. There are no discussions to show.</h1>
            {% endif %}
            {% recursetree entries %}
            {% if node.user.pk == user.pk %}
             <li class="usernode">
            {% elif node.is_root_node %}
            <li>
                {% else %}
            <li style="border-left: 1px solid rgba(0, 0, 0, 0.1);">
                {% endif %}
                <a class="anchor" id="{{ node.pk }}"></a>
                <p style="margin-bottom: 2px">
                    <a href="{% url 'user-detail-view' node.user.pk %}" style="margin-left: 5px; font-size: 14px;"><strong>{{ node.user.username }}</strong></a>
                    {% load humanize %}
                    <em><a href="{% url 'entry-detail-view' node.pk %}" style="font-size: 12px;">{{ node.created_date|naturaltime }}</a></em>
                        <strong class="node" id="votes{{node.pk}}">{{ node.votes_sum }}</strong>
                        {% if user.is_authenticated %}
                        <button class="upvote {{ node.style_class }}" type="upvote" onclick="vote({{node.pk}}, 'upvote')"
                            id="upvote{{node.pk}}">&#43;</button>
                        <button class="downvote {{ node.style_class }}" type="downvote" onclick="vote({{node.pk}}, 'downvote')"
                            id="downvote{{node.pk}}">&#8722;</button>
                        <a href="#" class="answerButton" value="{{node.pk}}" style="font-size: 12px">answer</a>
                        {% if node.user.pk == user.pk %}
                        <a href="#" class="editButton" value="{{node.pk}}" style="font-size: 12px">edit</a>
                        <a href="#" class="deleteButton" value="{{node.pk}}" style="font-size: 12px; color: red;">delete</a>
                        {% endif %}
                        {% endif %}
                </p>
                <div id="content{{node.pk}}" class="content" value="{{node.pk}}" style="margin-left: 5px; word-wrap: break-word;">{{ node.content_formatted|safe }}</div>
                <form class="editForm" id="editForm{{node.pk}}" style="margin-left: 10px; display:none;" value="{{node.pk}}" maxlength="4000">
                    <textarea class="form-control" rows="3" required>{{ node.content|safe }}</textarea>
                    <button type="submit" class="btn btn-secondary btn-sm">Edit</button>
                </form>
                <form class="commentForm" id="form{{node.pk}}" style="margin-left: 10px; display:none;" value="{{node.pk}}">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" required></textarea>
                        <button type="submit" class="btn btn-secondary btn-sm">Add comment</button>
                    </div>
                </form>
                {% if not node.is_leaf_node %}
                {% if node.is_root_node %}
                <div style="margin-bottom: 12px;"></div>
                {% endif %}
                <ul class="children entry">
                    {{ children }}
                </ul>
                {% endif %}
            </li>
            {% if node.is_root_node %}
            <hr>
            {% endif %}
            {% endrecursetree %}
        </ul>
        <div class="pagination">
            <span class="step-links">
                {% if entries.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ entries.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
                </span>

                {% if entries.has_next %}
                <a href="?page={{ entries.next_page_number }}">next</a>
                <a href="?page={{ entries.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endblock %}
    </div>
    {% block footer %}
    <div class="footer">
        <div class="container">
            <span class="text-muted">© 2018 <a href="{% url 'home' %}">bloggy</a> by <a href="https://github.com/MakuZo">MakuZo</a></span>
        </div>
    </div>
    {% endblock %}
    <script src="https://fastcdn.org/Readmore.js/2.1.0/readmore.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>  
</body>

</html>