<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bloggy - a place to share your thoughts!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <script type="text/javascript">
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        $(document).on('click', ".answerButton", function (e) {
            e.preventDefault();
            $(".editForm").hide();
            $(".content").show();
            if ($("#form" + $(this).attr('value')).is(':visible')) {
                $(".commentForm").hide();
            } else {
                $(".commentForm").hide();
                $("#form" + $(this).attr('value')).toggle();
                $("#form" + $(this).attr('value'))[0][0].focus();
            }
        });
        $(document).on('click', ".editButton", function (e) {
            e.preventDefault();
            $(".commentForm").hide();
            $(".content").show();
            if ($("#editForm" + $(this).attr('value')).is(':visible')) {
                $(".editForm").hide();
                $("#content" + $(this).attr('value')).show();
            } else {
                $(".editForm").hide();
                $("#editForm" + $(this).attr('value')).toggle();
                $("#editForm" + $(this).attr('value'))[0][0].focus();
                $("#content" + $(this).attr('value')).hide();
            }
        });
        $(document).on('click', ".deleteButton", function (e) {
            e.preventDefault();
            if (window.confirm("Are you sure?")) {
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                $.ajax({
                    url: "{% url 'entry-list' %}" + $(this).attr('value') + "/",
                    type: 'DELETE',
                    success: function () { // this happens after we get results
                        location.reload();
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            }
        });
        $(document).on('submit', '.editForm', function (e) {
            e.preventDefault();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                url: "{% url 'entry-list' %}" + $(this).attr('value') + "/",
                type: 'PATCH',
                data: {
                    content: $(this)[0][0].value,
                },
                success: function (data) { // this happens after we get results
                    $("#content"+data.id)[0].innerHTML = data.content_formatted;
                    $("#content"+data.id).show();
                    $("#content"+data.id).focus();
                    $("#editForm"+data.id).hide();
                },
                error: function () {
                    console.log("error");
                }
            });
        });
        $(document).on('submit', '.commentForm', function (e) {
            e.preventDefault();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                url: "{% url 'entry-list' %}",
                type: 'POST',
                data: {
                    parent: $(this).attr('value'),
                    content: $(this)[0][0].value,
                },
                success: function () { // this happens after we get results
                    location.reload();
                },
                error: function () {
                    console.log("error");
                }
            });
        });
        $(document).ready(function () {
            $(".discussionForm").submit(function (e) {
                e.preventDefault();
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                $.ajax({
                    url: "{% url 'entry-list' %}",
                    type: 'POST',
                    data: {
                        content: $(this)[0][0].value,
                    },
                    success: function (data) {
                        console.log(data)
                        window.location.replace("/entry/" + data.id);
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            });
        });
        function vote(pk, type) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.post("{% url 'vote-list' %}",
                {
                    pk: pk,
                    votetype: type
                },
                function (data, status) {
                    if (status === "success")
                        document.getElementById("upvote" + data.id).classList.remove('user-upvoted');
                    document.getElementById("downvote" + data.id).classList.remove('user-downvoted');
                    document.getElementById("votes" + data.id).innerHTML = data.upvotes.length - data.downvotes.length;
                    if (data.upvotes.includes({{ user.pk }}) > 0) {
                document.getElementById("upvote" + data.id).classList.add('user-upvoted');
            } else if (data.downvotes.includes({{ user.pk }}) > 0) {
            document.getElementById("downvote" + data.id).classList.add('user-downvoted');
        }
            });
        }
    </script>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}" style="color: white">Bloggy</a>
            {% if not user.is_authenticated %}
            <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1" required>
                    <input name="password" type="password" class="form-control mr-sm-2 4" placeholder="Password"
                        aria-label="Password" aria-describedby="basic-addon1" required>
                </div>
                <button id="login" class="btn btn-light my-2 my-sm-0">Login</button>
            </form>
            {% else %}
            <div class="dropdown show">
                <a style="color: white;" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            <!-- <a href="#" style="color: white;">{{ user.username }}</a> -->
            {% endif %}
        </div>
    </nav>
    <div class="container" style='padding-top: 50px;'>
        <hr>
        <p>
            <a href="{% url 'home' %}">New</a>
            <a href="{% url 'hot' %}">Hot</a>
            <a href="{% url 'top' %}">Top</a>
        </p>
        <hr>
        {% if not user.is_authenticated %}
        <h4><a href="{% url 'login' %}">Log-in</a> or <a href="{% url 'signup' %}">Register</a> to add a discussion!</h4>
        <hr>
        {% endif %}
        {% load mptt_tags %}
        <ul class="entry" style="padding-left: 10px;">
            {% recursetree entries %}
            {% if node.pk == entry.pk %}
            <li style="border-left: 2px solid rgba(15, 191, 255, 0.694);">
            {% elif node.is_root_node %}
            <li>
                {% else %}
            <li style="border-left: 1px solid rgba(0, 0, 0, 0.1);">
                {% endif %}
                <a class="anchor" id="{{ node.pk }}"></a>
                <p style="margin-bottom: 2px">
                    <strong style="margin-left: 5px; font-size: 14px;">{{ node.user.username }}</strong>
                    {% load humanize %}
                    <em><a href="{% url 'entry-detail-view' node.pk %}#{{node.pk}}" style="font-size: 12px;">{{ node.created_date|naturaltime }}</a></em>
                    <strong class="node" id="votes{{node.pk}}">{{ node.votes_sum }}</strong>
                    {% if user.is_authenticated %}
                    <button class="upvote {{ node.style_class }}" type="upvote" onclick="vote({{node.pk}}, 'upvote')"
                        id="upvote{{node.pk}}">&#43;</button>
                    <button class="downvote {{ node.style_class }}" type="downvote" onclick="vote({{node.pk}}, 'downvote')"
                        id="downvote{{node.pk}}">&#8722;</button>
                    <a href="#" class="answerButton" value="{{node.pk}}" style="font-size: 12px">answer</a>
                    {% if node.user.pk == user.pk %}
                    <a href="#" class="editButton" value="{{node.pk}}" style="font-size: 12px">edit</a>
                    <a href="#" class="deleteButton" value="{{node.pk}}" style="font-size: 12px; color: red;">delete</a>
                    {% endif %}
                    {% endif %}
                </p>
                <div id="content{{node.pk}}" class="content" value="{{node.pk}}" style="margin-left: 5px;">{{ node.content_formatted|safe }}</div>
                <form class="editForm" id="editForm{{node.pk}}" style="margin-left: 10px; display:none;" value="{{node.pk}}">
                    <textarea class="form-control" rows="3" required>{{ node.content|safe }}</textarea>
                    <button type="submit" class="btn btn-secondary btn-sm">Edit</button>
                </form>
                <form class="commentForm" id="form{{node.pk}}" style="margin-left: 10px; display:none;" value="{{node.pk}}">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" required></textarea>
                        <button type="submit" class="btn btn-secondary btn-sm">Add comment</button>
                    </div>
                </form>
                {% if not node.is_leaf_node %}
                <ul class="children entry">
                    {{ children }}
                </ul>
                {% endif %}
            </li>
            {% if node.is_root_node %}
            <hr>
            {% endif %}
            {% endrecursetree %}
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>