{% extends 'app/base.html' %}

{% block content-head %}
    <hr>
    <p>
        <a href="{% url 'home' %}">New</a>
        <a href="{% url 'hot' %}">Hot</a>
        <a href="{% url 'top' %}">Top</a>
    </p>
    {% if user.is_authenticated and not browsed_tag %}
    <hr>
    <form class="discussionForm">
        <div class="form-group">
            <textarea class="form-control" rows="3" maxlength="4000" required></textarea>
            <button type="submit" class="btn btn-primary btn-sm">Add discussion</button>
        </div>
    </form>
    {% elif not user.is_authenticated %}
    <hr>
    <h4><a href="{% url 'account_login' %}">Log-in</a> or <a href="{% url 'account_signup' %}">Register</a> to add
        a discussion!</h4>
    {% endif %}
    <hr>
    {% if browsed_tag %}
    <h4>You're browsing <a href="{% url 'tag' browsed_tag.name %}">#{{ browsed_tag.name }}</a> tag with <i class="tag-observers-count">{{ browsed_tag.observers.all.count }}</i> observers</h4>
    {% if user.is_authenticated %}
    <button type="button" class="observe-button btn btn-secondary">
    {% if user in browsed_tag.observers.all %}
    Don't observe
    {% else %}
    Observe
    {% endif %}
    </button>
    {% endif %}
    <hr>
    {% endif %}
{% endblock %}

{% block content-body %}
{% load mptt_tags %}
{% load humanize %}
    <ul class="entry" style="padding-left: 10px;">
        {% if not entries %}
        <h1>Oops. There are no discussions to show.</h1>
        {% endif %}
        {% recursetree entries %}
        {% if node.user.pk == user.pk %}
        <li class="usernode">
            {% elif node.is_root_node %}
        <li>
            {% else %}
        <li style="border-left: 1px solid rgba(0, 0, 0, 0.1);">
            {% endif %}
            <a class="anchor" id="{{ node.pk }}"></a>
            <p style="margin-bottom: 1px">
                <a href="{% url 'user-detail-view' node.user.pk %}" style="margin-left: 5px; font-size: 14px;"><strong>{{node.user.username }}</strong></a>
                <em><a href="{% url 'entry-detail-view' node.pk %}" style="font-size: 12px;">{{node.created_date|naturaltime }}</a></em>
                <strong class="node" id="votes{{node.pk}}">{{ node.votes_sum }}</strong>
                {% if user.is_authenticated %}
                <button class="upvote {% if user in node.upvotes.all %}user-upvoted{% endif %}" type="upvote" onclick="vote({{node.pk}}, 'upvote')"
                    id="upvote{{node.pk}}">&#43;</button>
                <button class="downvote {% if user in node.downvotes.all %}user-downvoted{% endif %}" type="downvote" onclick="vote({{node.pk}}, 'downvote')"
                    id="downvote{{node.pk}}">&#8722;</button>
                <a href="#" class="answerButton" value="{{node.pk}}" style="font-size: 12px">answer</a>
                {% if node.user.pk == user.pk and not node.deleted %}
                <a href="#" class="editButton" value="{{node.pk}}" style="font-size: 12px">edit</a>
                <a href="#" class="deleteButton" value="{{node.pk}}" style="font-size: 12px; color: red;">delete</a>
                {% endif %}
                {% endif %}
            </p>
            {% if not node.deleted %}
            <div id="content{{node.pk}}" class="content" value="{{node.pk}}" style="margin-left: 5px; word-wrap: break-word; {% if entry.pk == node.pk %}background-color: yellow;{% endif %}">{{node.content_formatted|safe }}</div>
            <form class="editForm" id="editForm{{node.pk}}" style="margin-left: 10px; display:none;" value="{{node.pk}}"
                maxlength="4000">
                <textarea class="form-control" rows="3" required>{{ node.content|safe }}</textarea>
                <button type="submit" class="btn btn-secondary btn-sm">Edit</button>
            </form>
            {% else %}
            <div id="content{{node.pk}}" class="content" value="{{node.pk}}" style="margin-left: 5px; word-wrap: break-word; margin-bottom: 10px; {% if entry.pk == node.pk %}background-color: yellow;{% endif %}"><em>deleted</em></div>
            {% endif %}
            <form class="commentForm" id="form{{node.pk}}" style="margin-left: 10px; display:none;" value="{{node.pk}}">
                <div class="form-group">
                    <textarea class="form-control" rows="3" required></textarea>
                    <button type="submit" class="btn btn-secondary btn-sm">Add comment</button>
                </div>
            </form>
            {% if node.has_hidden_children %}
            <a style="margin-left: 15px; font-size: 12px; background-color: lightblue; color: white;" href="{% url 'entry-detail-view' node.pk %}">Continue into this discussion -></a>
            {% endif %}
            {% if not node.is_leaf_node %}
            {% if node.is_root_node %}
            <div style="margin-bottom: 12px;"></div>
            {% endif %}
            <ul class="children entry" style="padding-left: 25px">
                {{ children }}
            </ul>
            {% endif %}         
        </li>
        {% if node.is_root_node %}
        <hr>
        {% endif %}
        {% endrecursetree %}
    </ul>
{% endblock %}

{% block content-tail %}
<div class="pagination">
    <span class="step-links">
        {% if entries.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ entries.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
        </span>

        {% if entries.has_next %}
        <a href="?page={{ entries.next_page_number }}">next</a>
        <a href="?page={{ entries.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}