{% extends 'app/base.html' %}

{% block content %}
{% load humanize %}
{% load mptt_tags %}
<hr>
<h3>{{ user.username }}</h3>
<h4 data-toggle="tooltip" data-placement="top" title="{{ user.date_joined }}">Joined: {{ user.date_joined|naturaltime }}</h4>
<h4>Points: {{ user.points }}</h4>
<hr>
<h2>5 last discussions</h2>
<hr>
<ul class="entry" style="padding-left: 10px;">
    {% if not user.entries %}
    <h1>Oops. There are no discussions to show.</h1>
    {% endif %}
    {% recursetree user.entries %}
    {% if node.user.pk == user.pk %}
    <li style="border-left: 2px solid rgba(15, 191, 255, 0.694);">
    {% elif node.is_root_node %}
    <li>
        {% else %}
    <li style="border-left: 1px solid rgba(0, 0, 0, 0.1);">
        {% endif %}
        <a class="anchor" id="{{ node.pk }}"></a>
        <p style="margin-bottom: 2px">
            <strong style="margin-left: 5px; font-size: 14px;">{{ node.user.username }}</strong>
            {% load humanize %}
            <em><a href="{% url 'entry-detail-view' node.pk %}#{{node.pk}}" style="font-size: 12px;">{{ node.created_date|naturaltime }}</a></em>
            <strong class="node" id="votes{{node.pk}}">{{ node.votes_sum }}</strong>
            {% if user.is_authenticated %}
            <button class="upvote {{ node.style_class }}" type="upvote" onclick="vote({{node.pk}}, 'upvote')"
                id="upvote{{node.pk}}">&#43;</button>
            <button class="downvote {{ node.style_class }}" type="downvote" onclick="vote({{node.pk}}, 'downvote')"
                id="downvote{{node.pk}}">&#8722;</button>
            <a href="#" class="answerButton" value="{{node.pk}}" style="font-size: 12px">answer</a>
            {% if node.user.pk == user.pk %}
            <a href="#" class="editButton" value="{{node.pk}}" style="font-size: 12px">edit</a>
            <a href="#" class="deleteButton" value="{{node.pk}}" style="font-size: 12px; color: red;">delete</a>
            {% endif %}
            {% endif %}
        </p>
        <div id="content{{node.pk}}" class="content" value="{{node.pk}}" style="margin-left: 5px;">{{ node.content_formatted|safe }}</div>
        <form class="editForm" id="editForm{{node.pk}}" style="margin-left: 10px; display:none;" value="{{node.pk}}">
            <textarea class="form-control" rows="3" required>{{ node.content|safe }}</textarea>
            <button type="submit" class="btn btn-secondary btn-sm">Edit</button>
        </form>
        <form class="commentForm" id="form{{node.pk}}" style="margin-left: 10px; display:none;" value="{{node.pk}}">
            <div class="form-group">
                <textarea class="form-control" rows="3" required></textarea>
                <button type="submit" class="btn btn-secondary btn-sm">Add comment</button>
            </div>
        </form>
        {% if not node.is_leaf_node %}
        <ul class="children entry">
            {{ children }}
        </ul>
        {% endif %}
    </li>
    {% if node.is_root_node %}
    <hr>
    {% endif %}
    {% endrecursetree %}
</ul>
{% endblock %}