.navbar {
  background-color: lightseagreen;
  padding-top: 8px;
  padding-bottom: 8px;
}

html, body {
  height: 100%;

  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}

.navbar-nav {
  flex-direction: row;
}
/* change the brand and text color */
.navbar .navbar-brand,
.navbar .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar .nav-item.active .nav-link,
.navbar .nav-item:hover .nav-link {
  color: #ffffff;
}

.entry {
  list-style:none;
}

.node {
  font-size: 12px;
}

.node.positive {
  color: green;
}

.node.negative {
  color: red;
}

.node.user-upvoted {
  color: white;
  background-color: green; 
  border: 1px solid green; 
  padding: 1px;
  border-radius: 5px;
}

.node.user-downvoted {
  color: white;
  background-color: red; 
  border: 1px solid red; 
  padding: 1px;
  border-radius: 5px;
}

.downvote {
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
}

.upvote {
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
}

.downvote.user-downvoted {
  color: red;
  background-color: rgba(119, 0, 0, 0.2);
}

.upvote.user-upvoted {
  color: green;
  background-color: rgba(1, 90, 8, 0.2);
}

.container.content {
  padding-top:    50px;
  padding-bottom: 50px;
}

 @media only screen and (max-width: 770px) {
  .navbar {
    position: relative;
  }
  .container.content {
    padding-top: 0px !important;
  }
}

.entry-anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.invalid-feedback {
  display: block !important;
}

.entry-points {
  font-size: 12px;
}

.usernode {
  /* border-left: 1px solid rgba(8, 189, 147, 0.666); */
  border-left: 1px solid rgba(218, 44, 215, 0.673);
}

.usernode p{
  margin-bottom: 5px;
}

.rootnode p{
  margin-bottom: 5px;
}

.opnode {
  border-left: 1px solid rgba(15, 191, 255, 0.496);
}
.commentnode {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 40px; 
    line-height: 40px;
    background-color: #f5f5f5;
}

/* Custom Markdown Styling */
.entry-content {
  margin-left: 5px; 
  word-wrap: break-word; 
}
.entry-content h1{
  font-size: 18px;
}

.entry-content h2{
  font-size: 16px;
}

.entry-contentt h3{
  font-size: 16px;
}

.entry-content h4{
  font-size: 16px;
}

.entry-content h5{
  font-size: 16px;
}

.entry-content h6{
  font-size: 16px;
}

.entry-content pre code {
  background-color: rgb(246, 246, 246);
}
/* ----------------------- */

.ranking {
  align-self: center;
}

.ranking-list:nth-child(1) {
  font-size: 28px;
}

.ranking-list:nth-child(2) {
  font-size: 24px;
}

.ranking-list:nth-child(3) {
  font-size: 20px;
}

.full-notification {
  margin-top: 0px;
  background-color: rgb(236, 236, 236);
}

.full-notification.notification-unread {
  background-color: transparent;
}

.notification {
  font-size: 13px;
  margin-top: 0px;
  background-color: rgb(236, 236, 236);
}

.notification.notification-unread {
  background-color: transparent;
}

.read-notification {
  border-style: none;
  background-color: transparent;
}

.read-full-notification {
  border-style: none;
  background-color: transparent;
}

.blacklist-button {
  background-color: black;
  color: white;
}

.conversationBox {
  overflow: auto;
  height: 400px;
  border: 1px solid rgba(76, 60, 27, 0.347);
  padding: 5px;
}

.sendPrivateMessageBox {
  width: 100%;
}

.conversationMessage.unread {
  background-color: rgb(255, 254, 231)
}

.allConversations{
  overflow: scroll;
  height: 400px;
  border: 1px solid rgba(76, 60, 27, 0.347);
  padding: 5px;
  float: left; 
  width: 15%;
  margin-right: 2%;
}

